Repository SovereignCloudStack/docs, pull requests merged in 2024-05, with the labels that each got.

#176 Add user data backup guide
  docs/02-iaas/guides/user-guide/images/user_data_backups_figure1.png
  docs/02-iaas/guides/user-guide/user-data-backups.md
Labels: SCS-VP10

#193 Implement a multiline entry for the 4 PCO regions.
  standards/certification/overview.md
Labels: documentation, standards

#197 Add PoC-WGCloud to list of certified clouds.
  standards/certification/overview.md
Labels: enhancement, standards

#196 Link to rendered docs pages
  README.md
Labels: documentation
